:root {
	--instagram-color: hsl(326, 57%, 48%);
	--facebook-color: hsl(214, 89%, 52%);
	--twitter-color: hsl(203, 89%, 53%);
	--steam-color: hsl(210, 72%, 28%);
	--github-color: hsl(0, 5%, 9%);
	--purple-gradient: linear-gradient(
		45deg, 
		rgb(4, 0, 82), 
		rgba(9,9,121,1), 
		rgba(4,97,192,1), 
		rgba(0,110,255,1), 
		rgba(119,94,255,1), 
		rgba(196,66,255,1),
		rgb(77, 0, 113)
	);
	--red-gradient: linear-gradient(
		45deg,
		#000,
		#3a1c71,
		#d76d77,
		#ffaf7b
	);
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin-top: 0;
	padding-top: 0;
}

html, body {
	height: 100vh;
	height: 100dvh;
	overflow: hidden;
	margin: 0;
	padding: 0;
}  

body {
	padding-top: 0;
	overflow: hidden;
	margin-top: 0;
  	margin-bottom: 0;
    margin: 0;
    background: var(--red-gradient);
	background-size: 400%;
    color: #dbdbdb;
	animation: bg-animation 15s infinite alternate;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes bg-animation {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.location i {
    margin-right: 10px;
    align-self: flex-start;
    margin-top: -10px;
}

.person-info {
	background-color: rgba(0, 0, 0, 0.4);
	padding: 20px;
	text-align: center;
	border-radius: 20px;
    width: 50vw;
    max-width: 300px;
    margin: 0 auto;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(255, 255, 255, 0.2);
}

@media (orientation: portrait) {
	.person-info {
	  max-width: 100vw;
	}
}

.person-info h5 {
    margin-top: -10px;
    font-weight: 300;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

.person-info h1 {
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

.person-info img {
	max-width: 200px;
	border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

.person-info a {
    display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	width: 80px;
	height: 20px;
	border-radius: 20px;
	margin: 0 10px;
	color: #fff;
	text-decoration: none;
    background-color: hsl(273, 100%, 58%);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}

.person-info a:hover {
    opacity: 0.8;
}

.social-links {
	margin-top: 20px;
}

.social-links a {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 0 10px;
	color: #fff;
}

.social-links a.twitter {
	background-color: var(--twitter-color)
}

.social-links a.facebook {
	background-color: var(--facebook-color)
}

.social-links a.instagram {
	background-color: var(--instagram-color);
}

.social-links a.steam {
    background-color: var(--steam-color)
}

.social-links a.github {
	background-color: var(--github-color);
}

.social-links a:hover {
	opacity: 0.8;
}
