:root {
	--instagram-color: rgb(192, 53, 132);
	--facebook-color: rgb(24, 118, 242);
	--twitter-color: rgb(28, 160, 242);
	--steam-color: rgb(20, 71, 123);
	--github-color: rgb(24, 22, 22);
	--email-color: rgb(159, 41, 255);
	--purple-gradient: linear-gradient(
		45deg, 
		rgb(4, 0, 82), 
		rgb(9, 9, 121), 
		rgb(4, 97, 192), 
		rgb(0, 110, 255), 
		rgb(119, 94, 255), 
		rgb(196, 66, 255),
		rgb(77, 0, 113)
	);
	--red-gradient: linear-gradient(
		45deg,
		rgb(0, 0, 0),
		rgb(58, 28, 113),
		rgb(215, 109, 119),
		rgb(255, 175, 123)
	);
	--button-white : rgb(245, 245, 245);

	--glow-light: rgba(255, 255, 255, 0.2);
	--shadow-dark: rgba(0, 0, 0, 0.6);
	--shadow-middle: rgba(0, 0, 0, 0.5);
	--shadow-light: rgba(0, 0, 0, 0.1);
	--button-padding: 15px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin-top: 0;
	padding-top: 0;
}

html, body {
	height: 100vh;
	height: 100dvh;
	overflow: hidden;
	margin: 0;
	padding: 0;
}  

body {
	background-color: rgb(0, 0, 0);
    background-image: var(--red-gradient);
	background-size: 400%;
    color: rgb(219, 219, 219);
	animation: bg-animation 15s infinite alternate;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes bg-animation {
	0% { background-position: left; }
	100% { background-position: right; }
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.location i {
    margin-right: 10px;
    align-self: flex-start;
    margin-top: -10px;
}

.person-info {
	background-color: var(--shadow-middle);
	backdrop-filter: blur(15px);
	padding: 20px;
	text-align: center;
	border-radius: 20px;
    max-width: 350px;
    margin: 0 auto;
	text-shadow: 0px 0px 10px var(--shadow-dark);
    box-shadow: 10px 10px 6px var(--shadow-light), inset 0 0 10px var(--glow-light);
}

@media (hover: none) and (pointer: coarse) {
	.person-info {
		max-width: 70vw;
	}
}

.person-info h5 {
    margin-top: -10px;
    font-weight: 300;
}

.person-info img {
	max-width: 200px;
	border-radius: 50%;
    box-shadow: 0 0 10px var(--shadow-light);
}

.person-info a {
    display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: var(--button-padding);
	width: 100px;
	height: 20px;
	border-radius: calc(var(--button-padding)*2);
	margin: 10px 20px;
	color: #454545;
	opacity: 1;
	text-decoration: none;
    background-color: var(--button-white);
    box-shadow: 0px 0px 10px var(--glow-light);
	transition: background-color 0.3s ease, color 0.3s ease;
	z-index: 1;
	position: relative;
}

.person-info a:hover {
	color: white;
}

.social-links {
	margin-top: 10px;
}

.social-links a {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: var(--button-padding);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: relative;
}

.person-info a::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	z-index: -1;
	transform: scale(0);
	transform-origin: right;
	transition: transform 250ms ease-in;
}

.person-info a:hover::after {
	transform: scale(1);
	transform-origin: left;
}

.email::after {
	background: var(--email-color);
}

.twitter::after {
	background: var(--twitter-color);
}

.facebook::after {
	background: var(--facebook-color);
}

.instagram::after {
	background: var(--instagram-color);
}

.steam::after {
	background: var(--steam-color);
}

.github::after {
	background: var(--github-color);
}
